<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Waybills</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body class="container-fluid">
	<nav class="navbar navbar-expand-sm bg-light">
		<a class="navbar-brand" href="/">Warehouse</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/goods">Goods</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/customers">Customers</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/waybills">Waybills</a>
			</li>
		</ul>
	</nav>
	<br>
	<div>
		<form method="GET" action="/waybills/search-by-id">
			<label for="id">Find waybill by id: </label>
			<input id="id" name="id" type="number" placeholder="Enter id to search">
			<input type="submit" value="Search by id">
		</form>
	</div>
	<hr>
	<p><a href="/">Back to main menu</a></p>
	<hr>
	<form method="GET" action="/waybills">
		<input type="radio" name="order-by" id="order-by-id" value="id" th:checked="${orderBy.equals('id')}">
		<label for="order-by-id">ID</label>

		<input type="radio" name="order-by" id="order-by-service-price" value="service_price" th:checked="${orderBy.equals('service_price')}">
		<label for="order-by-service-price">Service price</label>

		<input type="radio" name="order-by" id="order-by-total-price" value="total_price" th:checked="${orderBy.equals('total_price')}">
		<label for="order-by-total-price">Total price</label>

		<input type="radio" name="order-by" id="order-by-order-date" value="order_date" th:checked="${orderBy.equals('order_date')}">
		<label for="order-by-order-date">Order date</label>

		<input type="submit" value="Sort">
	</form>
	<hr>
	<table class="table table-bordered">
		<thead><td>ID</td><td>Driver info</td><td>Customer</td><td>Service price</td><td>Total price</td><td>Order date (YYYY-MM-DD)</td></thead>
		<tbody>
		<div th:each="waybill : ${waybills}">
			<tr>
				<td><a th:text="${waybill.id}" th:href="@{/waybills/{id}(id=${waybill.id})}"></a></td>
				<td th:text="${waybill.driverName} + ' ' + ${waybill.driverSurname}"></td>
				<td><a th:text="${waybill.customer.name} + ' ' + ${waybill.customer.surname}" th:href="@{/customers/{id}(id=${waybill.customer.id})}"></a></td>
				<td th:text="'$' + ${waybill.servicePrice}"></td>
				<td th:text="'$' + ${waybill.totalPrice}"></td>
				<td th:text="${waybill.orderDate}"></td>
			</tr>
		</div>
		</tbody>
	</table>
</body>
</html>