<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goods</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/global.css">
</head>
<body class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-light">
        <a class="navbar-brand" href="/">Warehouse</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/goods">Goods</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customers">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/waybills">Waybills</a>
            </li>
        </ul>
    </nav>
    <br>
    <div>
        <form method="GET" action="/goods/search-by-id">
            <label for="id">Find product by id: </label>
            <input id="id" name="id" type="number" placeholder="Enter id to search">
            <input type="submit" value="Search by id">
        </form>
    </div>
    <div>
        <form method="GET" action="/goods/search-by-text">
            <label for="text">Find by matching in name/comment: </label>
            <input id="text" name="text" type="text" placeholder="Enter text to search">
            <input type="submit" value="Search by text">
        </form>
    </div>
    <hr>
    <a href="/goods/new">Create new goods</a>
    <p><a href="/">Back to main menu</a></p>
    <hr>
    <table class="table table-bordered">
        <thead><td>ID</td><td>Product's name</td><td>Price</td></thead>
        <tbody>
        <div th:each="product : ${goodsList}">
            <tr>
                <td><a th:text="${product.id}" th:href="@{/goods/{id}(id=${product.id})}"></a></td>
                <td><a th:text="${product.name}" th:href="@{/goods/{id}(id=${product.id})}"></a></td>
                <td th:text="'$' + ${product.price}"></td>
            </tr>
        </div>
        </tbody>
    </table>
    <br>
</body>
</html>